# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file_path = os.path.join("output_data", "cities.csv")
weather_data = pd.read_csv(file_path)
weather_data.set_index(["City_ID"], inplace=True)
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,Mataura,-46.19,168.86,39.99,80,32,11.01,NZ,1600366190
1,Tallahassee,30.44,-84.28,78.80,78,90,12.75,US,1600366023
2,Flinders,-34.58,150.86,57.99,84,100,1.01,AU,1600366193
3,Chui,-33.70,-53.46,68.13,58,3,7.43,UY,1600366195
4,Hithadhoo,-0.60,73.08,82.67,78,73,11.18,MV,1600366195

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
print(g_key)

AIzaSyCSel_7zt8qso61wDuTA0oEsW4lgA_9BpI

In [5]:
# access maps with unique API key
gmaps.configure(api_key=g_key)
# create dataframe with lat, lng and Humidity
locations = weather_data[["Lat","Lng"]]
humidity = weather_data["Humidity"]

In [6]:
# create intial gmap figure
fig = gmaps.figure()
# add heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=0.9)
# add heatmap layer to figure
fig.add_layer(heatmap_layer)
# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
ideal_weather = weather_data[(weather_data["Humidity"] > 70) & (weather_data["Humidity"] <= 75)]
ideal_weather = ideal_weather.dropna()
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
43,Nome,64.50,-165.41,46.99,75,90,12.75,US,1600366274
44,Ris√∏r,58.72,9.23,57.99,72,57,1.01,NO,1600366277
52,New Norfolk,-42.78,147.06,35.01,71,0,2.98,AU,1600365735
56,Sabang,5.89,95.32,83.91,74,100,21.23,ID,1600366290
57,Geraldton,-28.77,114.60,46.40,75,0,6.93,AU,1600366290
60,Penhold,52.13,-113.87,64.99,71,40,3.36,CA,1600366294
67,Jamestown,42.10,-79.24,68.00,72,20,5.82,US,1600366303
69,S√ºhbaatar,50.23,106.21,47.57,74,2,1.28,MN,1600366308
71,Jucuar√°n,13.25,-88.25,87.80,74,49,1.03,SV,1600366309
76,San Jose,37.34,-121.89,78.01,73,90,3.87,US,1600366216
78,Lompoc,34.64,-120.46,62.60,72,1,5.82,US,1600366150
120,Kangaatsiaq,68.31,-53.46,38.34,75,100,4.88,GL,1600366344
134,Nargan√°,9.44,-78.59,83.71,72,73,2.64,PA,1600366352
146,Kaitangata,-46.28,169.85,37.99,71,1,4.00,NZ,1600366358
152,Kiryat Gat,31.61,34.76,84.00,75,0,7.07,IL,1600365897
155,Udaipura,23.08,78.50,81.72,72,100,2.17,IN,1600366365
166,Mah√©bourg,-20.41,57.70,71.60,73,75,11.41,MU,1600366372
168,Dakar,14.69,-17.44,86.00,74,75,16.11,SN,1600366373
170,Store Heddinge,55.31,12.39,55.40,71,13,6.93,DK,1600366378
182,Garango,11.80,-0.55,79.97,73,79,6.06,BF,1600366394
189,Morki,56.43,48.99,46.33,75,99,7.45,RU,1600366401
279,Nouadhibou,20.93,-17.03,78.30,72,9,19.15,MR,1600366494
283,Souillac,-20.52,57.52,71.60,73,75,11.41,MU,1600366498
285,Rio Grande,-32.03,-52.10,65.14,73,0,3.96,BR,1600366338
305,Ordzhonƒ´kƒ´dze,52.44,61.74,51.35,74,58,12.80,KZ,1600366517
310,Nuoro,40.32,9.33,80.60,74,40,4.70,IT,1600366522
318,Bambous Virieux,-20.34,57.76,71.60,73,75,11.41,MU,1600366529
336,Mahon,39.89,4.27,77.00,73,64,4.70,ES,1600366544
343,Tairua,-37.02,175.85,57.00,74,49,11.01,NZ,1600366260
348,Giohar,2.78,45.50,76.77,75,21,14.72,SO,1600366554
353,Berlev√•g,70.86,29.09,45.88,72,100,11.68,NO,1600366559
375,Maniitsoq,65.42,-52.90,39.47,71,24,7.63,GL,1600366582
380,Alamor,-4.02,-80.02,80.60,74,75,4.70,EC,1600366596
387,Garachin√©,8.06,-78.36,82.56,74,40,8.63,PA,1600366601
389,Fomboni,-12.28,43.74,77.67,72,0,8.23,KM,1600366604
394,Antofagasta,-23.65,-70.40,59.00,72,20,12.75,CL,1600366608
396,Broome,42.25,-75.83,71.01,72,75,6.93,US,1600366613
397,Dandong,40.13,124.39,54.54,72,0,5.53,CN,1600366614
404,Jyvaskyla,62.24,25.72,46.99,75,90,16.11,FI,1600366625
406,Biak,-0.91,122.88,75.72,72,14,5.41,ID,1600366626
426,Port Shepstone,-30.74,30.45,64.56,71,11,8.43,ZA,1600366648
438,Oussouye,12.48,-16.55,87.80,74,20,11.41,SN,1600366671
442,Benghazi,32.12,20.07,78.67,73,0,10.18,LY,1600366680
461,Nuuk,64.18,-51.72,41.00,72,40,10.29,GL,1600366645
477,Honningsv√•g,70.98,25.97,46.40,75,20,11.41,NO,1600366538
493,Sorrento,40.63,14.37,77.00,73,5,5.82,IT,1600366730
521,Pudukkottai,10.38,78.82,84.20,74,40,6.93,IN,1600366757

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# store ideal_weather dataframe as hotel_df
hotel_df = ideal_weather.astype(str)
# add empty Hotel Name column to dataframe
hotel_df["Hotel Name"] = ""

# set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# parameter variables hotels within 5000 meters
for index,row in hotel_df.iterrows():
    try:
        location = row[str("Lat")] + "," + row[str("Lng")]
        request_url = base_url + "location=" + location + "&radius=5000" + "&type=lodging" + "&key=" + g_key
        response = requests.get(request_url).json()
        hotel_name = response["results"][0]["name"]
        row["Hotel Name"] = hotel_name
    except IndexError:
        row["Hotel Name"] = "**No hotel within 5000 meters**"

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
locations = locations.astype(float)
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))