# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [29]:
file_path = os.path.join("..","output_data", "cities.csv")
weather_data = pd.read_csv(file_path)
weather_data.set_index(["City_ID"], inplace=True)
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,Aksarka,66.56,67.80,44.13,88,100,13.78,RU,1600396302
1,Caniço,32.63,-16.85,68.00,72,20,5.82,PT,1600396302
2,Teshie,5.58,-0.11,75.20,94,75,10.29,GH,1600396303
3,Ribeira Grande,38.52,-28.70,70.50,78,57,16.40,PT,1600396303
4,Bredasdorp,-34.53,20.04,44.60,93,30,1.12,ZA,1600396011

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [30]:
print(g_key)

AIzaSyCSel_7zt8qso61wDuTA0oEsW4lgA_9BpI

In [31]:
# access maps with unique API key
gmaps.configure(api_key=g_key)
# create dataframe with lat, lng and Humidity
locations = weather_data[["Lat","Lng"]]
humidity = weather_data["Humidity"]

In [32]:
# create intial gmap figure
fig = gmaps.figure()
# add heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=0.9)
# add heatmap layer to figure
fig.add_layer(heatmap_layer)
# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [33]:
ideal_weather = weather_data[(weather_data["Humidity"] > 70) & (weather_data["Humidity"] <= 75)]
ideal_weather = ideal_weather.dropna()
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
1,Caniço,32.63,-16.85,68.00,72,20,5.82,PT,1600396302
5,Anadyr,64.75,177.48,44.60,75,75,11.18,RU,1600396304
20,Butaritari,3.07,172.79,82.27,73,96,12.19,KI,1600396307
29,Plettenberg Bay,-34.05,23.37,54.99,72,0,3.44,ZA,1600396309
39,Palana,59.12,159.97,45.68,74,0,8.43,RU,1600396312
57,East London,-33.02,27.91,59.63,74,31,11.50,ZA,1600396316
73,Ponta do Sol,32.67,-17.10,68.00,72,20,5.82,PT,1600396320
90,Cardston,49.20,-113.30,57.20,71,5,5.82,CA,1600396325
104,Kiryat Gat,31.61,34.76,78.01,73,0,1.12,IL,1600396205
106,Ratodero,27.80,68.29,84.20,74,1,6.87,PK,1600396328
140,Saint Anthony,45.02,-93.22,51.80,75,1,5.70,US,1600396336
142,Roald,62.58,6.13,59.00,72,100,19.46,NO,1600396337
150,Kavieng,-2.57,150.80,84.18,74,99,8.05,PG,1600396339
171,Mazyr,52.05,29.25,47.12,72,9,15.43,BY,1600396344
179,Fort Frances,48.60,-93.40,33.01,74,1,4.27,CA,1600396346
194,Emba,48.83,58.14,48.83,75,1,4.72,KZ,1600396225
196,Egvekinot,66.32,-179.17,38.55,74,92,9.86,RU,1600396350
211,Los Llanos de Aridane,28.66,-17.92,71.60,73,85,6.93,ES,1600396353
244,Waipawa,-41.41,175.52,50.00,71,66,9.17,NZ,1600396360
275,Omsukchan,62.53,155.80,39.16,72,99,5.73,RU,1600396367
280,Vodyane,47.49,34.49,60.62,75,4,19.37,UA,1600396368
301,Gizo Government Station,-8.10,156.84,83.37,72,95,9.28,SB,1600396373
311,Santa Cruz de La Palma,28.68,-17.76,71.60,73,58,6.93,ES,1600396375
329,Lavrentiya,65.58,-171.00,46.96,75,100,10.56,RU,1600396379
348,Iquitos,-3.75,-73.25,77.27,71,80,2.17,PE,1600396120
359,Vardø,70.37,31.11,44.94,75,100,23.38,NO,1600396134
381,Jalu,29.03,21.55,73.24,71,0,9.08,LY,1600396390
411,Resplendor,-19.33,-41.26,68.34,71,1,2.35,BR,1600396396
428,Sitka,57.05,-135.33,57.20,71,75,0.92,US,1600396400
448,Rincon,32.30,-81.24,80.60,74,90,5.82,US,1600396404
452,High Rock,26.62,-78.28,83.55,74,100,10.51,BS,1600396405
457,Turochak,52.26,87.12,56.91,75,100,3.04,RU,1600396406
502,Talavera,15.62,120.93,84.20,74,75,11.41,PH,1600396416
506,Port Macquarie,-31.43,152.92,75.00,73,75,12.75,AU,1600396276
516,Byron Bay,-28.65,153.62,75.00,73,40,12.75,AU,1600396419
519,Aleksandrovskiy Zavod,50.92,117.94,50.88,73,99,9.82,RU,1600396419
520,Kyzyl-Suu,42.34,78.00,47.55,74,87,8.23,KG,1600396420
548,Palmer,42.16,-72.33,62.60,72,75,8.05,US,1600396426

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
# store ideal_weather dataframe as hotel_df
hotel_df = ideal_weather.astype(str)
# add empty Hotel Name column to dataframe
hotel_df["Hotel Name"] = ""

# set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# parameter variables hotels within 5000 meters
for index,row in hotel_df.iterrows():
    try:
        location = row[str("Lat")] + "," + row[str("Lng")]
        request_url = base_url + "location=" + location + "&radius=5000" + "&type=lodging" + "&key=" + g_key
        response = requests.get(request_url).json()
        hotel_name = response["results"][0]["name"]
        row["Hotel Name"] = hotel_name
    except IndexError:
        row["Hotel Name"] = "**No hotel within 5000 meters**"
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
City_ID,,,,,,,,,,
1,Caniço,32.63,-16.85,68.0,72,20,5.82,PT,1600396302,Quinta Splendida Wellness & Botanical Garden
5,Anadyr,64.75,177.48,44.6,75,75,11.18,RU,1600396304,"Гостиница ""Анадырь"""
20,Butaritari,3.07,172.79,82.27,73,96,12.19,KI,1600396307,Isles Sunset Lodge
29,Plettenberg Bay,-34.05,23.37,54.99,72,0,3.44,ZA,1600396309,Thanda Vista B&B
39,Palana,59.12,159.97,45.68,74,0,8.43,RU,1600396312,**No hotel within 5000 meters**

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [36]:
# Add marker layer ontop of heat map
locations = locations.astype(float)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))