# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [40]:
file_path = os.path.join("output_data", "cities.csv")
weather_data = pd.read_csv(file_path)
weather_data.set_index(["City_ID"], inplace=True)
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,Neiafu,-18.65,-173.98,73.40,69,75,5.82,TO,1600109740
1,Kupang,-10.17,123.58,72.23,80,29,9.40,ID,1600109741
2,Albany,42.60,-73.97,73.00,38,0,1.99,US,1600109665
3,Arraial do Cabo,-22.97,-42.03,84.20,65,0,16.11,BR,1600109741
4,East London,-33.02,27.91,57.20,67,0,11.41,ZA,1600109741

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [41]:
print(g_key)

AIzaSyCSel_7zt8qso61wDuTA0oEsW4lgA_9BpI

In [44]:
# access maps with unique API key
gmaps.configure(api_key=g_key)
# create dataframe with lat, lng and Humidity
locations = weather_data[["Lat","Lng"]]
humidity = weather_data["Humidity"]

In [45]:
# create intial gmap figure
fig = gmaps.figure()
# add heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=0.9)
# add heatmap layer to figure
fig.add_layer(heatmap_layer)
# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [46]:
ideal_weather = weather_data[(weather_data["Max Temp"] > 70) & (weather_data["Max Temp"] < 80) & (weather_data["Humidity"] > 70) & (weather_data["Humidity"] <= 75)]
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
64,Los Llanos de Aridane,28.66,-17.92,77.00,73,75,6.93,ES,1600109758
192,Fare,-16.70,-151.02,78.91,73,10,11.27,PF,1600109793
194,Faanui,-16.48,-151.75,78.21,74,0,11.36,PF,1600109794
207,Jadu,31.95,12.03,70.74,71,49,8.12,LY,1600109799
330,Sibolga,1.74,98.78,76.82,74,57,3.29,ID,1600109839
375,Padang,-0.95,100.35,78.24,74,100,4.03,ID,1600109852
488,Kigoma,-4.88,29.63,77.00,73,5,4.09,TZ,1600109888
530,Playas,-2.63,-80.38,74.80,74,18,15.37,EC,1600109900
558,Lékoni,-1.58,14.26,77.36,73,100,6.87,GA,1600109910
563,Tevaitoa,-16.78,-151.50,79.25,72,6,10.71,PF,1600109911

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure