# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [28]:
file_path = os.path.join("output_data", "cities.csv")
weather_data = pd.read_csv(file_path)
weather_data.set_index(["City_ID"], inplace=True)
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,Qaanaaq,77.48,-69.36,21.18,84,52,9.28,GL,1600368313
1,Jacqueville,5.21,-4.41,78.80,83,20,8.05,CI,1600368673
2,Ushuaia,-54.80,-68.30,37.40,59,40,26.40,AR,1600368256
3,Rikitea,-23.12,-134.97,71.85,82,99,23.60,PF,1600368267
4,Mataura,-46.19,168.86,39.00,79,86,11.01,NZ,1600368262

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
print(g_key)

AIzaSyCSel_7zt8qso61wDuTA0oEsW4lgA_9BpI

In [30]:
# access maps with unique API key
gmaps.configure(api_key=g_key)
# create dataframe with lat, lng and Humidity
locations = weather_data[["Lat","Lng"]]
humidity = weather_data["Humidity"]

In [31]:
# create intial gmap figure
fig = gmaps.figure()
# add heatmap layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=0.9)
# add heatmap layer to figure
fig.add_layer(heatmap_layer)
# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
ideal_weather = weather_data[(weather_data["Humidity"] > 70) & (weather_data["Humidity"] <= 75)]
ideal_weather = ideal_weather.dropna()
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
22,Coyhaique,-45.58,-72.07,44.60,73,75,6.93,CL,1600368250
26,Honningsvåg,70.98,25.97,46.40,75,20,10.29,NO,1600368677
34,Hilo,19.73,-155.09,75.99,73,90,4.70,US,1600368147
48,Ayan,56.45,138.17,51.78,71,100,18.12,RU,1600368319
56,Ambilobe,-13.20,49.05,71.60,72,27,5.19,MG,1600368444
68,Almeria,37.17,-2.33,82.00,74,89,2.24,ES,1600368683
84,Tautira,-17.73,-149.15,80.60,74,20,3.36,PF,1600368301
97,Mahébourg,-20.41,57.70,71.60,73,75,11.41,MU,1600368298
110,Plettenberg Bay,-34.05,23.37,55.67,73,0,4.99,ZA,1600368364
121,Lagoa,39.05,-27.98,68.49,71,93,12.95,PT,1600368469
125,Bull Savanna,17.89,-77.59,83.91,71,2,12.84,JM,1600368692
130,Talnakh,69.49,88.40,51.80,71,100,8.95,RU,1600368268
131,Sinnamary,5.38,-52.95,84.52,72,14,13.27,GF,1600368308
143,New Norfolk,-42.78,147.06,35.01,73,0,2.37,AU,1600368258
172,Souillac,-20.52,57.52,71.60,73,75,11.41,MU,1600368284
182,Vardø,70.37,31.11,42.80,75,100,16.11,NO,1600368308
194,Philadelphia,39.95,-75.16,77.00,73,90,5.82,US,1600368628
209,Arrondissement de Bastia,42.67,9.33,80.01,73,0,2.24,FR,1600368707
231,Manokwari,-0.87,134.08,78.85,75,79,4.79,ID,1600368325
234,Baruun-Urt,46.68,113.28,43.48,73,0,6.69,MN,1600368711
241,Singaraja,-8.11,115.09,77.36,73,0,3.09,ID,1600368712
245,Bairiki Village,1.33,172.98,80.60,74,75,11.41,KI,1600368337
246,Bambous Virieux,-20.34,57.76,71.60,73,75,11.41,MU,1600368277
260,Kurchum,48.57,83.65,54.59,72,100,10.65,KZ,1600368715
277,Ilo,-17.64,-71.34,63.75,73,46,9.17,PE,1600368496
304,Chara,56.91,118.26,41.18,75,79,3.11,RU,1600368294
311,Helong,42.54,129.00,52.79,73,100,5.44,CN,1600368724
312,Nanortalik,60.14,-45.24,41.11,72,100,12.55,GL,1600368356
322,La Asuncion,11.03,-63.86,83.14,73,19,4.27,VE,1600368524
329,Oneonta,42.45,-75.06,69.01,73,100,1.01,US,1600368728
339,San Ignacio,17.16,-89.07,93.00,74,40,6.93,BZ,1600368609
359,Blora,-6.97,111.42,75.96,73,7,5.06,ID,1600368733
379,Trincomalee,8.57,81.23,81.81,74,88,20.49,LK,1600368736
387,Port Hueneme,34.15,-119.20,75.20,72,1,8.05,US,1600368738
413,Belyy Yar,53.60,91.39,57.20,71,100,11.18,RU,1600368383
423,Lewes,50.87,0.01,59.00,74,0,16.75,GB,1600368744
424,Pimentel,-6.84,-79.93,65.10,73,44,14.18,PE,1600368352
432,Mahon,39.89,4.27,77.00,73,77,3.22,ES,1600368275
441,Alexandria,31.22,29.96,80.55,74,0,12.08,EG,1600368099
493,Ushtobe,45.25,77.98,53.74,75,100,12.26,KZ,1600368757
518,Oussouye,12.48,-16.55,86.00,74,75,9.17,SN,1600368352
537,Örnsköldsvik,63.29,18.72,44.60,75,100,8.05,SE,1600368325
543,Sabang,5.89,95.32,83.75,73,100,21.52,ID,1600368396

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
# store ideal_weather dataframe as hotel_df
hotel_df = ideal_weather.astype(str)
# add empty Hotel Name column to dataframe
hotel_df["Hotel Name"] = ""

# set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# parameter variables hotels within 5000 meters
for index,row in hotel_df.iterrows():
    try:
        location = row[str("Lat")] + "," + row[str("Lng")]
        request_url = base_url + "location=" + location + "&radius=5000" + "&type=lodging" + "&key=" + g_key
        response = requests.get(request_url).json()
        hotel_name = response["results"][0]["name"]
        row["Hotel Name"] = hotel_name
    except IndexError:
        row["Hotel Name"] = "**No hotel within 5000 meters**"
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
City_ID,,,,,,,,,,
22,Coyhaique,-45.58,-72.07,44.6,73,75,6.93,CL,1600368250,Diego De Almagro Coyhaique
26,Honningsvåg,70.98,25.97,46.4,75,20,10.29,NO,1600368677,Nordkapp Vandrerhjem
34,Hilo,19.73,-155.09,75.99,73,90,4.7,US,1600368147,Hilo Hawaiian Hotel
48,Ayan,56.45,138.17,51.78,71,100,18.12,RU,1600368319,Gostinitsa
56,Ambilobe,-13.2,49.05,71.6,72,27,5.19,MG,1600368444,Hôtel & Restaurant DIANA Ambilobe

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [35]:
# Add marker layer ontop of heat map
locations = locations.astype(float)
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))